
.auth ul li:last-child{
    margin-right: 10px;
    text-decoration: none;
}
.auth ul{
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0 auto;
}
.delete-image{
    position: absolute;
    right: 20px;
    top: 26px;
    border: 1px solid red;
    width: 20px;
    height: 25px;
    text-align: center;
    cursor: pointer;
    font-weight: 600;
    border-radius: 4px;
    font-style: normal;
}
.delete-image:hover{
    background-color: red;
    color: white;
    font-weight: bold;
    border: 1px solid gray;
    transition: all .3s;
}

.block-images{
    position: relative;
}

.product img{
    max-height: 350px;
    max-width: 525px;
    width: 525px;
    height: 350px;
}
